.vscode
.vscode/*
options
package-lock.json
node_modules
node_modules/*
logs
logs/*
lib/logs/*
lib/data
lib/data/*
lib/options
lib/options.good
lib/options.debug
lib/options-bk
lib/data/database.sq3
lib/data/database.sq3-journal


